


body
{
	background-color: #5F9EA0;	
}

#wrapper
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;	
}

header
{
	background-color: #fff;
	width: 680px;
	height: 100px;
	border-radius: 25px;
	margin: 25px;
	padding: 25px;
	margin-right: auto;
	margin-left: auto;
	overflow:hidden;
}

h1
{	
	float: left;
	height: 20px;
	padding-left: 10px;
	margin-top: -10px;
}
h2
{
	float: left;
	height: 20px;
	padding-left: 10px;
}

#logo
{
	
	width: 100px;
	height:100px;
	float: left;
}

#gebruikers
{
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}

#gebruikers img
{
	width: 210px;
	height:100px;
	margin-left: 40px;
	margin-top: 20px;
	border-radius: 20px;	
}

/* animaties */

header
{
	-webkit-animation: flipInX 1.5s;
	-webkit-animation-fill-mode: forwards; 
		-webkit-transform-origin: center center; /* Chrome, Safari, Opera */
}

#gebruikers
{
	-webkit-animation: flipInY 2s;
	-webkit-animation-fill-mode: forwards; 
	-webkit-transform-origin: left; 
}

h1,
h2
{
	margin-left: -300px;
	-webkit-animation: floatIn 1.5s;
	-webkit-animation-fill-mode: forwards; 
	-webkit-transform-origin: left bottom;	
}

#gebruikers img:hover
{
	-webkit-animation: scale 0.5s;	
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes scale
{
100%  {-webkit-transform: scale(1.2)}
}
@-webkit-keyframes flipInX
{
0%  {-webkit-transform: rotateX(0deg);}
40%  {-webkit-transform: rotateX(30deg);}
70%  {-webkit-transform: rotateX(-30deg);}
100%  {-webkit-transform: rotateX(0deg);}
}
@-webkit-keyframes flipInY
{
0%  {-webkit-transform: perspective(250px) rotateY(90deg);}
40%  {-webkit-transform: perspective(250px) rotateY(0deg);}
70%  {-webkit-transform: perspective(100000px) rotateY(-30deg);}
100%  {-webkit-transform: perspective(100000px) rotateY(0deg);}

}




@-webkit-keyframes floatIn
{
100%  {-webkit-transform: translateX(300px)}
}


