
#bol1
{
	width: 40px;
	height: 40px;
	border-radius: 40px;	
	position: absolute;
	background-color: yellow;	
	z-index:100;
}

#bol2
{
	width: 40px;
	height: 40px;
	border-radius: 40px;	
	position: absolute;
	background-color: green;	
}

#bol3
{
	width: 40px;
	height: 40px;
	border-radius: 40px;
	position: absolute;
	background-color: red;	
}

/*animatie van de ballen*/
.bol1
{
	-webkit-animation: beweeg1 1s;
-webkit-transform-origin: left top;
-webkit-animation-fill-mode: forwards; 
}

.bol2
{
	-webkit-animation: beweeg2 1s;
	-webkit-transform-origin: left top;
	-webkit-animation-fill-mode: forwards; 
}

.bol3
{
-webkit-animation: beweeg3 1s;
-webkit-transform-origin: left top;
-webkit-animation-fill-mode: forwards; 
}

@-webkit-keyframes beweeg1
{
	100% {-webkit-transform: translateX(100px)}
}

@-webkit-keyframes beweeg2
{
	100% {-webkit-transform: translateX(100px) translateY(100px)}
}

@-webkit-keyframes beweeg3
{
	100% {-webkit-transform: translateY(100px)}
}


/*#bol1{background:red;
border-radius: 50%;
width:50px;
height:50px;
transition: -webkit-transform 1s;
}
#bol{background:green;
border-radius: 50%;
width:50px;
height:50px;
transition: -webkit-transform 1s;
}
#bol2{background:yellow;
border-radius: 50%;
width:50px;
height:50px;
transition: -webkit-transform 1s;
}
#bol1:hover
{
-webkit-transform: translateY(100px);
}*/