body
{
	background-color: #FFB733;
	font-family: 'Arial';
	color: #C22121;
}


#currentWeather ,#tomorrowWeather,  #header,  #settings
{
	text-align: center;
}
#currentTemp, #tomorrowTemp{font-size:4em;
color:#7F1637;
margin:none;
padding:none;
}


#adjustLoc
{
	background-color:  #F57336;
	border-radius: 10px;
	color: #C22121;
}


#weatherLoc, #adjustLoc
{
	padding: 8px;
}




